{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<h1 class="my-4">{{ title }}</h1>
<a class="btn btn-outline-primary mb-3" href="/statuses/create/">{% trans "Create status"%}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-1 bg-light border">ID</th>
      <th class="col-4 bg-light border">{% trans "Name"%}</th>
      <th class="col-3 bg-light border">{% trans "Created at"%}</th>
      <th class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    {% for status in statuses %}
    <tr>
      <td class="col-1 bg-light border">{{ status.id }}</td>
      <td class="col-4">{{ status }}</td>
      <td class="col-3 border">{{ status.created_at|date:'d.m.Y H:m' }}</td>
      <td class="bg-light text-center col-1 border">
        <a href="/statuses/{{ status.id }}/update/">{% trans "Edit"%}</a>
        <br>
        <a href="/statuses/{{ status.id }}/delete/">{% trans "Delete"%}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
