{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="container col-6">
<h1 class="my-4 text-center">{% trans "Sign Up"%}</h1>
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="22Qn3hlguHscwGRh3FKx6pEnqTvw1AuJtkA2G7oA5nrB6KA3agvA87ORcd3vn2Gw">
  <div class="mb-3">
    <label class="form-label" for="id_first_name">{% trans "First Name"%}</label>
    <input type="text" name="first_name" maxlength="150" class="form-control" placeholder="{% trans 'First Name'%}" required id="id_first_name">
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_last_name">{% trans "Last Name"%}</label>
    <input type="text" name="last_name" maxlength="150" class="form-control" placeholder="{% trans 'Last Name'%}" required id="id_last_name">
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_username">{% trans "Username"%}</label>
    <input type="text" name="username" maxlength="150" autofocus class="form-control" placeholder="{% trans 'Username'%}" required id="id_username">
    <div class="form-text">{% trans "Required field. No more than 150 characters. Only letters, numbers and symbols @/./+/-/_."%}</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_password1">{% trans "Password"%}</label>
    <input type="password" name="password1" autocomplete="new-password" class="form-control" placeholder="{% trans 'Password'%}" required id="id_password1">
    <div class="form-text">
      <ul><li>{% trans "Your password must contain at least 3 characters."%}</li></ul>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_password2">{% trans "Confirm Password"%}</label>
    <input type="password" name="password2" autocomplete="new-password" class="form-control" placeholder="{% trans 'Confirm Password'%}" required id="id_password2">
    <div class="form-text">{% trans "To confirm, please enter your password again."%}</div>
  </div>
  <div class="text-center mt-5">
    <input class="btn btn-outline-primary col-6" type="submit" value="{% trans 'Sign Me Up'%}">
  </div>
</form>
</div>
{% endblock %}
