{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<h1 class="my-4">{{ title }}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-1 bg-light border">ID</th>
      <th class="col-3 bg-light border">{% trans "Username"%}</th>
      <th class="col-5 bg-light border">{% trans "Full Name"%}</th>
      <th class="col-2 bg-light border">{% trans "Created at"%}</th>
      <th class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td class="col-1 bg-light border">{{ user.id }}</td>
      <td class="col-3">{{ user.username }}</td>
      <td class="col-5 border">{{ user.get_full_name }}</td>
      <td class="col-2">{{ user.created_at|date:'d.m.Y H:m' }}</td>
      <td class="bg-light text-center col-1 border">
        <a href="{% url 'update_user' user.id %}">{% trans "Edit"%}</a>
        <br>
        <a href="{% url 'delete_user' user.id %}">{% trans "Delete"%}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
