<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Менеджер задач</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load i18n %}
  <link rel="icon" href="data:,">
</head>

<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
    <div class="container-fluid">
      <div class="navbar-header mb-1">
        <a class="navbar-brand" href="{% url 'index' %}">{% trans "Task Manager"%}</a>
      </div>
    <button class="navbar-toggler px-3" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-3 pe-4" id="navbarToggleExternalContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users' %}">{% trans "Users"%}</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item pe-2">
          <a class="nav-link" href="/login/">{% trans "Log In"%}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/create/">{% trans "Sign Up"%}</a> <!-- заменить ссылками -->
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <div class="container wrapper flex-grow-1">
    {% block content %}{% endblock %}
  </div>
  <footer class="border-top py-3 mt-5 flex-shrink-0">
    <div class="text-center">
      <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
    </div>
  </footer>
</body>

</html>
