{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
  <div class="container-fluid">
    <div class="navbar-header mb-1">
      <a class="navbar-brand" href="{% url 'index' %}">{% trans "Task Manager"%}</a>
    </div>
  <button class="navbar-toggler px-3" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ps-3 pe-4" id="navbarToggleExternalContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">{% trans "Users"%}</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'statuses' %}">{% trans "Statuses"%}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'labels' %}">{% trans "Labels"%}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks' %}">{% trans "Tasks"%}</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ms-auto">
      {% if user.is_authenticated %}
        <li class="nav-item d-flex align-items-center">
          <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input class="btn nav-link" type="submit" value="{% trans 'Log Out' %}">
          </form>
        </li>
      {% else %}
      <li class="nav-item pe-2">
        <a class="nav-link" href="{% url 'login' %}">{% trans "Log In"%}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_user' %}">{% trans "Sign Up"%}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>